force-app/main/default/flows/Publish_Business_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>choice_action_flow</name>
        <choiceText>flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_action_link</name>
        <choiceText>link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>link</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_action_message</name>
        <choiceText>message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>message</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_action_record_link</name>
        <choiceText>record_link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>record_link</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_target_blank</name>
        <choiceText>_blank (new window or tab)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>_blank</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_target_self</name>
        <choiceText>_self (same window)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>_self</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_error</name>
        <choiceText>error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_info</name>
        <choiceText>info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>info</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_success</name>
        <choiceText>success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_warning</name>
        <choiceText>warning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>warning</stringValue>
        </value>
    </choices>
    <interviewLabel>Publish Business Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Business Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Business_Event</name>
        <label>Create Business Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>event_Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Name__c</field>
            <value>
                <elementReference>event_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_API_Name__c</field>
            <value>
                <elementReference>event_Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Button_Label__c</field>
            <value>
                <elementReference>event_Flow_Button_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Label__c</field>
            <value>
                <elementReference>event_Link_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Target__c</field>
            <value>
                <elementReference>event_Link_Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_URL__c</field>
            <value>
                <elementReference>event_Link_URL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>event_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Field_Label__c</field>
            <value>
                <elementReference>event_Record_Field_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Field_Value__c</field>
            <value>
                <elementReference>event_Record_Field_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>event_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>event_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>screen_Business_Event</name>
        <label>Business Event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Business_Event</targetReference>
        </connector>
        <fields>
            <name>event_Type</name>
            <choiceReferences>choice_type_info</choiceReferences>
            <choiceReferences>choice_type_error</choiceReferences>
            <choiceReferences>choice_type_warning</choiceReferences>
            <choiceReferences>choice_type_success</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_type_info</defaultSelectedChoiceReference>
            <fieldText>Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>event_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New Lead Created</stringValue>
            </defaultValue>
            <fieldText>Event Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>event_Origin</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Partner Portal</stringValue>
            </defaultValue>
            <fieldText>Event Origin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>event_Action</name>
            <choiceReferences>choice_action_message</choiceReferences>
            <choiceReferences>choice_action_link</choiceReferences>
            <choiceReferences>choice_action_record_link</choiceReferences>
            <choiceReferences>choice_action_flow</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_action_message</defaultSelectedChoiceReference>
            <fieldText>Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>section_for_link</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Action = &apos;link&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Link_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Do Something</stringValue>
            </defaultValue>
            <fieldText>Link Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Link_URL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Link URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>https://www.google.com/search?q=do+something</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Link_Target</name>
            <choiceReferences>choice_target_self</choiceReferences>
            <choiceReferences>choice_target_blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_target_blank</defaultSelectedChoiceReference>
            <fieldText>Link Target</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>section_for_record_link</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Action = &apos;record_link&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>section_for_flow</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Action = &apos;flow&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Record_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>default_RecordId</elementReference>
            </defaultValue>
            <fieldText>Record ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Record_Field_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>default_RecordFieldLabel</elementReference>
            </defaultValue>
            <fieldText>Record Field Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Record_Field_Value</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>default_RecordFieldValue</elementReference>
            </defaultValue>
            <fieldText>Record Field Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Flow_API_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>default_Flow_API_Name</elementReference>
            </defaultValue>
            <fieldText>Flow API Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Flow_Button_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>default_FlowButtonLabel</elementReference>
            </defaultValue>
            <fieldText>Flow Button Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_Business_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>default_Flow_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BE_View_Lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>default_FlowButtonLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>View Hanna Moore</stringValue>
        </value>
    </variables>
    <variables>
        <name>default_RecordFieldLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </variables>
    <variables>
        <name>default_RecordFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hanna Moore</stringValue>
        </value>
    </variables>
    <variables>
        <name>default_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00Q1100000E5iP4EAJ</stringValue>
        </value>
    </variables>
</Flow>
