force-app/main/default/flows/Publish_Business_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>choice_error</name>
        <choiceText>error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_flow</name>
        <choiceText>flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_info</name>
        <choiceText>info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>info</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_message</name>
        <choiceText>message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>message</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_record_link</name>
        <choiceText>record_link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>record_link</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_success</name>
        <choiceText>success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_warning</name>
        <choiceText>warning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>warning</stringValue>
        </value>
    </choices>
    <interviewLabel>Publish Business Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Business Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Business_Event</name>
        <label>Create Business Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>screen_Event_Published</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>event_Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Name__c</field>
            <value>
                <elementReference>event_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_API_Name__c</field>
            <value>
                <elementReference>event_Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Button_Label__c</field>
            <value>
                <elementReference>event_Flow_Button_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>event_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Field_Label__c</field>
            <value>
                <elementReference>event_Record_Field_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Field_Value__c</field>
            <value>
                <elementReference>event_Record_Field_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>event_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>event_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>screen_Business_Event</name>
        <label>Business Event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Business_Event</targetReference>
        </connector>
        <fields>
            <name>event_Type</name>
            <choiceReferences>choice_info</choiceReferences>
            <choiceReferences>choice_error</choiceReferences>
            <choiceReferences>choice_warning</choiceReferences>
            <choiceReferences>choice_success</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_info</defaultSelectedChoiceReference>
            <fieldText>Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>event_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New Lead Created</stringValue>
            </defaultValue>
            <fieldText>Event Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>event_Origin</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Partner Portal</stringValue>
            </defaultValue>
            <fieldText>Event Origin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>event_Action</name>
            <choiceReferences>choice_message</choiceReferences>
            <choiceReferences>choice_record_link</choiceReferences>
            <choiceReferences>choice_flow</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_message</defaultSelectedChoiceReference>
            <fieldText>Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>section_for_link</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Action = &apos;record_link&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>section_for_flow</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Action = &apos;flow&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Record_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00Q21000007iiL2EAI</stringValue>
            </defaultValue>
            <fieldText>Record ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_record_link</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Record_Field_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Name</stringValue>
            </defaultValue>
            <fieldText>Record Field Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Record_Field_Value</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Ryan Cox</stringValue>
            </defaultValue>
            <fieldText>Record Field Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Flow_API_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>BE_View_Lead</stringValue>
            </defaultValue>
            <fieldText>Flow API Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>event_Flow_Button_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>View Lead: Ryan Cox</stringValue>
            </defaultValue>
            <fieldText>Flow Button Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>event_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Event_Published</name>
        <label>Event Published</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>published_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Event Published&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_Business_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
