force-app/main/default/flows/RC_Replay_Business_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Break_Loop</name>
        <label>Break Loop</label>
        <locationX>704</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Event_History</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Event_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Event_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Events_Skipped</name>
        <label>Events Skipped</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>eventsSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventsToReplay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventsSkipped</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>eventsPublished</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Event_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Events_Published</name>
        <label>Increment Events Published</label>
        <locationX>264</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>eventsPublished</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Event_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Nav_0</name>
        <label>Init Nav</label>
        <locationX>484</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>nav_publish</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nav_skip</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Event_to_Replay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_History_Size</name>
        <label>Set Event History Size</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>eventsToReplay</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Event_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Event_History</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_action_flow</name>
        <choiceText>flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_action_link</name>
        <choiceText>link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>link</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_action_message</name>
        <choiceText>message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>message</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_action_record_link</name>
        <choiceText>record_link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>record_link</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_target_blank</name>
        <choiceText>_blank (new window or tab)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>_blank</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_target_self</name>
        <choiceText>_self (same window)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>_self</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_error</name>
        <choiceText>error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_info</name>
        <choiceText>info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>info</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_success</name>
        <choiceText>success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_type_warning</name>
        <choiceText>warning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>warning</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Publish_Event</name>
        <label>Publish Event?</label>
        <locationX>484</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Break_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Decision_Publish_Event_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nav_publish</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Business_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Decision_Publish_Event_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nav_skip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Event_History</targetReference>
            </connector>
            <label>No (Skip)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Full_Record_Input</name>
        <label>Full Record Input?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_From_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Record ID Input)</defaultConnectorLabel>
        <rules>
            <name>Full_Record_Input_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fromEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_History</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Replay Business Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replay Business Events</label>
    <loops>
        <name>Loop_Over_Event_History</name>
        <label>Loop Over Event History</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>Event_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Nav_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Events_Skipped</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_Business_Event</name>
        <label>Publish Business Event</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Increment_Events_Published</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>current_Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Name__c</field>
            <value>
                <elementReference>current_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_API_Name__c</field>
            <value>
                <elementReference>current_Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Button_Label__c</field>
            <value>
                <elementReference>current_Flow_Button_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Label__c</field>
            <value>
                <elementReference>current_Link_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Target__c</field>
            <value>
                <elementReference>current_Link_Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_URL__c</field>
            <value>
                <elementReference>current_Link_URL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>current_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Field_Label__c</field>
            <value>
                <elementReference>current_Record_Field_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Field_Value__c</field>
            <value>
                <elementReference>current_Record_Field_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>current_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>current_Event_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Event_History</name>
        <label>Get Event History</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Event_History_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fromEvent.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RC_Business_Event__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Event</name>
        <label>Get From Event</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>RC_Business_Event__c</object>
        <outputReference>fromEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Record_ID__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>screen_Event_Complete</name>
        <label>Replay Complete</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>current_displayTitle_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;This is the End&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Events You Selected To Replay: &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!eventsToReplay}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Events You Published: {!eventsPublished}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Events You Skipped: {!eventsSkipped}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nav_CloseButton</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-size_4-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Event_to_Replay</name>
        <label>Event to Replay</label>
        <locationX>484</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Publish_Event</targetReference>
        </connector>
        <fields>
            <name>current_displayTitle</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Event to Replay &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;({!eventCount} of {!eventsToReplay}&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>current_ReplayId</name>
            <fieldText>&lt;p&gt;Replay ID: &lt;b style=&quot;color: rgb(67, 134, 114);&quot;&gt;{!Loop_Over_Event_History.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>current_Event_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Type__c</elementReference>
            </defaultValue>
            <fieldText>Event Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>current_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Event_Name__c</elementReference>
            </defaultValue>
            <fieldText>Event Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>current_Origin</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Origin__c</elementReference>
            </defaultValue>
            <fieldText>Event Origin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>current_Action</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Action__c</elementReference>
            </defaultValue>
            <fieldText>Action</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>section_for_link_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Action = &apos;link&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Link_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Link_Label__c</elementReference>
            </defaultValue>
            <fieldText>Link Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Link_URL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Link URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Loop_Over_Event_History.Link_URL__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Link_Target</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Link_Target__c</elementReference>
            </defaultValue>
            <fieldText>Link Target</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>section_for_record_link_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Action = &apos;record_link&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>section_for_flow_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Action = &apos;flow&apos;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Record_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Record_ID__c</elementReference>
            </defaultValue>
            <fieldText>Record ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Record_Field_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Record_Field_Label__c</elementReference>
            </defaultValue>
            <fieldText>Record Field Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Record_Field_Value</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Record_Field_Value__c</elementReference>
            </defaultValue>
            <fieldText>Record Field Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_record_link</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Flow_API_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Flow_API_Name__c</elementReference>
            </defaultValue>
            <fieldText>Flow API Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_Flow_Button_Label</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Over_Event_History.Flow_Button_Label__c</elementReference>
            </defaultValue>
            <fieldText>Flow Button Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>current_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_action_flow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nav_PublishButton</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Publish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-size_4-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>nav_publish</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>nav_SkipButton</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Skip</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>NEUTRAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-size_4-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>nav_skip</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
        </fields>
        <fields>
            <name>nav_CancelButton</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>DESTRUCTIVE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-size_4-of-12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Full_Record_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eventCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>eventsPublished</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>eventsSkipped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>eventsToReplay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>fromEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RC_Business_Event__c</objectType>
    </variables>
    <variables>
        <name>nav_publish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nav_skip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
